# =========================
# Operating System Files
# =========================

# Windows
# =========================

*Zone.Identifier

# =========================
# Temporary and conf files
# =========================

.vscode/
*__pycache__
*.pytest_cache
.ruff_cache/

*.pyc
docs/html/
macaqueretina/retina/vae_statistics/
