default:
  image: python:3.11-slim

stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - pip install poetry
    - poetry install
  cache:
    key: $CI_COMMIT_REF_SLUG
  tags:
    - macaqueretina

test-job:
  stage: test
  script:
    - echo "Running tests..."
  cache:
    key: $CI_COMMIT_REF_SLUG
  tags:
    - macaqueretina

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production
  tags:
    - macaqueretina
